/* Override Material UI */
.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
    margin: 0;
}

.MuiCardContent-root {
    padding: 1rem !important;
}

/* Base styles */
:root {
    --clr-spell-description__casting-time: blueviolet;
    --clr-spell-description__range: green;
    --clr-spell-description__components: darkorange;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 3rem;
}

.footer p {
    margin: 0;
}

/* Table */
:has(> .fa-sort),
:has(> .fa-sort-up),
:has(> .fa-sort-down) {
    cursor: pointer;
}

span:has(> .fa-sort),
span:has(> .fa-sort-up),
span:has(> .fa-sort-down) {
    margin-left: 1rem;
}

.fa-sort,
.fa-sort-up,
.fa-sort-down {
    margin-left: 0.5rem;
}

.fa-sort {
    color: grey;
}

/* Filters */
.filter-section {
    margin-bottom: 1.5em;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    padding: 1em;
}

.filter-grid-item__components {
    width: 20%;
}

.filter-grid-item__flag-group {
    grid-column: 4 / 6;
}

.filter-grid-item__flag-concentration {
    width: 30%;
}

.filter-grid-item__flag-ritual {
    width: 20%;
}

.filter-grid-item__flag-upcast {
    width: 20%;
}

.filter-grid-item__flag-materialCost {
    width: 30%;
}

/* Spell list styles */
.spell-view-icon {
    margin-right: 1rem;
}

.spell-tag {
    margin-left: 0.5rem;
}

.spell-description li {
    margin-top: 0.5em;
}

.has-description:after {
    content: " *";
    color: var(--mui-palette-text-primary);
}

.has-description__casting-time:after {
    color: var(--clr-spell-description__casting-time);
}

.has-description__range:after {
    color: var(--clr-spell-description__range);
}

.has-description__components:after {
    color: var(--clr-spell-description__components);
}

.description-box {
    padding-top: 1rem;
}

.description-box label {
    color: var(--mui-palette-text-primary);
    font-style: italic;
    font-size: 0.8rem;
    text-transform: uppercase;
    pointer-events: none;
    padding: 0.1rem 0;
}

.description-box__casting-time label:before,
.description-box__range label:before,
.description-box__components label:before {
    content: "* ";
}

.description-box__casting-time label {
    color: var(--clr-spell-description__casting-time);
}

.description-box__range label {
    color: var(--clr-spell-description__range);
}

.description-box__components label {
    color: var(--clr-spell-description__components);
}
